
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <script src="https://kit.fontawesome.com/6702d214c7.js" crossorigin="anonymous"></script>
    <title>O.C. || Login page</title>
    </head>
    <body>
    
   
        <section class="section-sign">
            <div class="container-sign">
                <div class="form-sign"> 
                    <form class="forms"  method="post" action="">
                        <!-- {% csrf_token %} --> 
                          <h1 class="lg-heading text-black">Login</h1>
                        <div class="form-groups">
                            <label for="email">Email :</label> 
                            <input type="text" name="email" id="email"  placeholder="Enter Your Email" required>
                            <i class=" fas fa-envelope text-red fa-2x"></i>
                        </div>
                        <div class="form-groups"> 
                            <label for="password">Password :</label>
                            <input type="text" name="password" id="password" class="password" placeholder="Enter Your Password " required >
                            <i class="fas fa-lock text-red  fa-2x"></i>

                            <i class="fas fa-eye-slash text-red  fa-2x ii showhidepw"></i>
                            
                        </div>
                        <br>
                        <!-- for django pop message-->
                        <!--{% for message in messages %}
                       <div class="alert alert-{{message.tags }} alert-dismissible fade show text-red " role="alert" >
                        <button type="button" class="close pad " data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                        </button>
                        {{ message }}
                        </div>
                        {% endfor %}-->
                        <br>
                        <div class="accept">
                            <input type="checkbox" class="checkbox" required >
                            <p>Remember me</p>
                        </div>
                        <p class="rfirst"><a href="/forgot password" class="text-red"> Forgot password?</a></p>
                        <button type="submit" class="form-button" onclick="loginp()">Login Now</button>
                        
                        <p class="rlast">Not a member?<a href="/signup" class="text-red"> Signup now?</a></p>
                    
                    </form>
                </div>
            </div> 
        </section>   
    <script src="/static/script.js"></script> 
   {% comment %} {% if alert_flag %}
 <script>
     function loginp(){
         alert("Your's Successfully logged in!")  
     }
   {% endif %}    
 </script> {% endcomment %}
    </body>
</html>